{% extends 'base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block title %}Login - AidePourTous{% endblock %}

{% block content %}
<div class="login-section">
    <div class="register-container">
        <div class="register-section">
            <h2>Connectez-vous : </h2>
            <form method="post" class="register-form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p>Pas de compte? <a href="{% url 'register' %}">Enregistrez-vous ici</a>.</p>
        </div>
    </div>
</div>
{% endblock %} 