{% extends 'base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block title %}Register - AidePourTous{% endblock %}

{% block content %}
<div class="login-section">
    <div class="register-container">
        <div class="register-section">
            <form method="post" class="register-form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p>Vous avez déjà un compte? <a href="{% url 'login' %}">Connectez-vous ici</a>.</p>
        </div>
    </div>
</div>
{% endblock %}