body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
header {
    background-color: #1fd01f; /* Green banner */
    color: #ffffff; /* White text */
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #008000; /* Slightly greener button color */
}
nav ul li {
    margin: 0;
    padding: 10px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
#content {
    padding: 20px;
}
h2 {
    color: #008000; /* Slightly greener color for the featured content heading */
}
#HomeImage {
    background-image: url('/static/homelogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 500px;
}
#home-buttons {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #008000; /* Button color */
    border-radius: 5px;
}

.button:hover {
    background-color: #006600; /* Button color on hover */
}
.register-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #008000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #006400;
}