
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aide Pour Tous{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-section">
                <div class="logo">AidePourTous</div>
            </div>
            <div class="center-section"></div>
            
                <a href="{% url 'home' %}">Accueil</a>
                <a href="{% url 'advise' %}">Conseil</a>
            </div>
            <div class="right-section">
                <a href="{% url 'profile' %}">Mon profil</a>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="background-image">
            <div class="overlay">
                <div class="main-section">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Réalisé par Florence Brieven, Manon Charlier, Baptiste Moncomble et Christophe Roland | Tous les droits sont réservés.</p>
    </footer>
</body>
</html>