{% extends 'base.html' %}

{% load static %}

{% block title %}ChatBot - AidePourTous{% endblock %}

{% block content %}
    <div class="transparent-container">
        <div class="orange-container">
            <h3>ChatBot</h3>
            <div id="chat-container">
                <div id="chat-messages">
                    <div class="message-bubble">Bonjour! Comment puis-je vous aider aujourd'hui?</div>
                    {% for message in messages %}
                        <div class="message-bubble">
                            {{ message.text }}
                        </div>
                        {% endfor %}
                </div>
                <div id="user-input">
                    <form method="post" action="{% url 'chatBot' %}">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit">Envoyer</button>
                    </form>
                </div>
                <form method="post" action="{% url 'clear_messages' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Effacer l'historique</button>
                </form>
            </div>
        </div>    
    </div>
{% endblock %}